.filter-bar {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 10px 0;
  background-color: #282828;
}

.filter-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #9F34FF;
  margin: 0 10px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.filter-button:hover {
  background-color: #E1CDF2;
}

.filter-button:active {
  transform: scale(0.98);
}

@media (min-width: 1025px) {
  .filter-button {
    padding: 20px 40px; 
    font-size: 1.2rem; 
    border-radius: 10px; 
    margin: 0 20px; 
  }
}
