:root {
    --background-color: #161616;
    --font-color: #FFFFFF;
    --grey: #282828;
    --purple: #9F34FF;
    --light-purple: #E1CDF2;
  }

.game-card-title {
    margin-bottom: 20px;
}

#title {
    color: var(--purple);
}

.game-card-image {
    margin-bottom: 20px;
}

.game-card-image img{
    border-radius: 20px;
    
}



#release-date {
    color: var(--purple);
}

#genre {
    color: var(--purple);
}

#platform {
    color: var(--purple);
}

.game-card-buttons {
    display: flex;
}

.game-card-related-div {
    background-color: var(--grey);
    border-radius: 20px;
    padding: 1%;
    font-size: 20px;

}

.game-card-related img {
    max-width: 30%;
}

.game-card-related button {
    font-size: 20px;
    margin-right: 30px;
    padding: 10px;
    color: var(--font-color);
    background-color: var(--purple);
    border-radius: 10px;
}

.game-card-buttons button {
    font-size: 20px;
    margin-right: 30px;
    padding: 10px;
    color: var(--font-color);
    background-color: var(--light-purple);
    border-radius: 10px;
}