.landing-main-section {
    width: 85%;
    height: 50vh; 
    text-align: center;
    margin: 15% auto;
    background-color: black;
    color: #ffffff;
    border-radius: 1rem;
}

.landing-greeting h2 {
    font-size: 2.5rem;
    font-weight: 300;
}