.navbar-header-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1000;
    padding: 0 10%; 
}

.navbar-logo {
    font-size: 3.5rem;
    font-weight: 100;
    color: #9F34FF;
    text-decoration: none;
}

.navbar-container-menu-items {
    margin-left: 20%;
    width: 100%;
}

.navbar-container-menu-items a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 350;
    margin-left: 2rem;
}

@media (min-width: 760px) {
    
    .navbar-header-section {
        width: 12%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        max-width: 200px;
    }

    .navbar-container-menu-items {
        margin: 0;
    }

    .navbar-container-menu-items a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}