.search-page {
  color: #FFFFFF;
  background-color: #161616;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.display-area {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
}

.game-card {
  background-color: #282828;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  align-self: start;
  width: 100%;
  box-sizing: border-box;
}

.game-card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

@media (min-width: 281px) and (max-width: 653px) {
  .display-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 654px) and (max-width: 1024px) {
  .display-area {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .search-page {
    margin-left: 5%;
    height: 100vh;
    overflow: auto;
  }
  
  .display-area {
    grid-template-columns: repeat(4, 1fr);
  }
}
