:root {
  --background-color: #161616;
  --font-color: #FFFFFF;
  --grey: #282828;
  --purple: #9F34FF;
  --light-purple: #E1CDF2;
}

.social-flex {
  display: flex;
}

.social-flex-wrap {
  flex-wrap: wrap;
}

/* .social-wrap-none {
  flex-wrap: nowrap;
} */

.social-flex-col {
  flex-direction: column;
}

.social-gap {
  /* gap: 1rem; */
  gap: clamp(1rem, 4vw, 6rem);
}

.social-gap-p5 {
  gap: .5rem;
}

.social-my-p5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.social-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.social-w-40 {
  width: 40%;
}

.social-w-80 {
  width: 80%;
}

.social-w-100 {
  width: 100%;
}

.social-content-between {
  justify-content: space-between;
}

.social-content-center {
  justify-content: center;
}

.social-items-center {
  align-items: center;
}

.social-border-radius {
  border-radius: .5rem;
}

.social-object-cover {
  object-fit: cover;
}

.social-font {
  color: var(--font-color);
  font-family: Poppins, sans-serif;
}

.social-inner-box {
  background-color: var(--grey);
  padding: .7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Search Bar */
.social-container {
  padding: 1rem;
  max-width: 550px;
  margin: 0 auto;
}

.social-search-box {
  outline-color: var(--grey);
  padding: .2rem;
  width: 40%;
  min-width: 15.5rem;
}

.social-search-input {
  background-color: var(--background-color);
  outline-color: var(--grey);
  margin-right: .2rem;
  width: 100%;
}

.social-search-button {
  background-color: var(--background-color);
}

.social-search-icon {
  width: 1rem;
  height: 1rem;
}

/* Add Friend */
.social-profile-pic {
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.social-button {
  background-color: var(--purple);
  width: 5rem;
  border: none;
  margin-top: 0.3rem;
}

.social-sub-container {
  min-width: 8rem;
  max-width: 30rem;
}

/* Review */
.social-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: .5rem;
}

.social-review-box {
  /* padding-left: 4rem;
  padding-right: 4rem; */
  margin-bottom: 6rem;
  background-color: #282828;
}

.social-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}

.social-username {
  color: #9F34FF;
  font-size: 2rem;
}

.social-game-link {
  text-decoration: none;
  color: #E1CDF2;
  font-size: 1.1rem;
}

@media (min-width: 380px) {
  .social-inner-box {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-suggested-friends {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .social-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
}

@media (min-width: 760px) {
  .social-col-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .social-box-col-2 {
    width: 49%;
  }
}