.game-review-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gamereviewform-label {
  color: #fff;
}

.gamereviewform-select {
  margin-left: 0.5rem;
  background: #282828;
  border: 1px solid #565656;
  border-radius: 0.5rem;
  color: #fff;
}

.gamereviewform-textarea {
  background: #282828;
  border: 1px solid #565656;
  border-radius: 0.75rem;
  padding: 0.75rem;
  color: #fff;
}

.gamereviewform-error {
  color: #9f34ff;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

.gamereviewform-button {
  align-self: flex-start;
  padding: 0.75rem 1.5rem;
  background: #9f34ff;
  border: none;
  border-radius: 0.75rem;
  color: #fff;
  cursor: pointer;
   transition: background 0.3s;
}

.gamereviewform-button:hover {
  background: #565656;
}
