.related-games-banner {
  margin: 2rem 0;
  padding: 1rem;
  background: #282828;
  /* border: 1px solid #565656; */
  border-radius: 1rem;
  /* Firefox */
  scrollbar-width: none;
  /* IE & old Edge */
  -ms-overflow-style: none;
}

.relatedgamesbanner-header {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.relatedgamesbanner-list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

/* WebKit‑based browsers (Chrome, Safari, Edge Chromium) */
.relatedgamesbanner-list::-webkit-scrollbar {
  display: none;
}
